// Place all the styles related to the static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-color: #66FFCC;
}

h1 {
  color: #000066;
}

ul, .datetime {
  background-color: #FFB8FF;
  padding: 3px;
  margin: 0;
  width: 270px;
}